.maincontainer{
   width: 1000px;
   height: 350px;
  
   
}

.container1{
   width: 1000px;
   height: 175px;
   gap: 30px;
   display: flex;
   flex-direction:coloumn;
   position: relative;
   
   left: 0px;
   
   
}
.container2{
   width: 1000px;
   height: 175px;
   gap: 30px;
   display: flex;
   flex-direction:row;
   position: relative;
   
}

img{
  width:300px;
  height: 160px;
  position :absolute;
  top: 5px;
  padding: 10px;
  display: block;
  
  
}


.image-box1{
  position: relative;
   height: 200px;
   width: 300px;
   border:0px;
}


   .image-box{
  position: relative;
   height: 200px;
   width: 300px;
   border:0px;
}
img{
     width:320px;
  height: 160px;
  margin-right: 10px;

}



h3{
      background-color:black;
      color:white;
      position: absolute;
      top: 0px;
      left: 10px;
      
      
      font-size: medium;

   

}


/* img1{ 
    width: 100px;
   height: 50px;
}
   img2{ 
    width: 100px;
   height: 50px;
} */



   

